:root {
    --headings: rgb(255, 255, 255);
    --text: rgb(233, 19, 19);
    --bg: rgb(16, 18, 20);
    --new-color: rgb(255, 100, 100);
  }
  
  .main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg);
    color: var(--text);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .image{
    height: 350px;
    width: 350px;
    /* border: 2px solid red; */
    margin: -150px 1px 78px 138px;
    background: url('grayscale-photo-sardar-patel-e11vp8hkig48u0pg.jpg') no-repeat center center/cover;
  }
  i {
    color: var(--headings);
  }
  
  h2 {
    color: var(--headings);
  }
  
  h3 {
    color: black;
  }
  
  a {
    color: var(--text);
    text-decoration: none;
  }
  
  .section-1 {
    padding-top: 40vh;
    text-align: center;
  }
  
  .section-1 p {
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin: 0;
  }
  
  .section-1 h2 {
    font-size: 1.7rem;
    margin-bottom: 10px;
  }
  
  .section-1 a {
    color: var(--text);
    font-size: 1.5rem;
    padding: 10px;
  }
  
  .section-2 {
    padding-top: 5vh;
    width: 70%;
  }
  
  .section-2 h2 {
    font-size: 1.7rem;
    margin-bottom: 10px;
  }
  
  .section-2 p {
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin: 0;
  }
  
  .section-2 a {
    display: block;
    color: var(--text);
    padding: 5px;
    font-size: 1.2rem;
    font-weight: 100;
    padding-left: 0;
    width: 300px;
  }
  
  .section-2 a:hover {
    font-size: 1.3rem;
    color: var(--headings);
    cursor: pointer;
  }
  
  .section-1 i:hover {
    color: var(--headings);
    cursor: pointer;
    scale: 1.2;
  }
  
  body {
    background-color: rgb(94, 47, 202);
  }
  